body {
    display: grid;
    grid-template-areas: 
    "nav" "nav" "nav" "nav"
    "content" "content" "content" "content"
    "img" "img" "img" "img";

}

main {grid-area: content;}

nav {grid-area: nav;}

footer {grid-area: footer;}
