    @import url('https://fonts.googleapis.com/css2?family=Mingzat&family=Oswald:wght@200..700&display=swap');

body {
    background-color: white;
}
h1 {
    color: black;
    text-align: center;
    font-weight: bold;
    font-size: 32px;
}
p {
    color: #000;
    font-size: 24px;
    font-family: "Oswald", system-ui;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}



a {
    display: inline-block;
}
nav {
    background-color: #3b6e0a;
    color: #EDB200;
    font-size: 36px;
    padding: 0 15px;
    font-family: "Oswald", system-ui;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    margin-left: 456px;
}
li {
    list-style: none;
    display: inline-block;
    font-family: "Oswald", system-ui;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}
li a {
    color: #EDB200;
    font-size: 36px;
    margin-right: 25px;
    text-decoration: none; 
    font-family: "Oswald", system-ui;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    border-radius: 20px;
}
li a:hover {
    color: #3b6e0a;
    background-color: #EDB200;
    padding: 16px;
}
footer {
    text-align: center;
    margin-top: 230px;
    background-color: #3b6e0a;
    color: #EDB200;
    height: 100px;
    font-size: 32px;
    font-family: "Oswald", system-ui;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    border-radius: 20px;
}



.heroimg {
    width: 530px;
    height: 275px;
    margin-right: 100px;
    margin-top: 90px;
    float: right;
}
.process_paragraph {
    margin-left: 290px;

}
.home_paragraph {
    margin-top: 50px;
    margin-left: 990px;
}
.footer_proccess {
    margin-top: -105px;
}
.footer_treehouse {
    margin-top: 1px;
}
.treehouse_header {
    margin-left: -1710px;
    font-weight: bold;
}
.p_treehouse {
    margin-left: 73px;
    width: 600px;
    margin-top: 110px;
}
.rustic_treehouse {
    margin-top: -1669px;
    margin-left: 1200px;
    height: 300px;
    width: 530px;
}
.fantasy_treehouse {
    margin-top: -1269px;
    margin-left: 1200px;
    height: 300px;
    width: 530px;
}
.grown_up_treehouse {
    margin-top: -869px;
    margin-left: 1200px;
    height: 300px;
    width: 530px;
}
.modern_treehouse {
    margin-top: -469px;
    margin-left: 1200px;
    height: 300px;
    width: 530px;
}
.p_growntreehouse {
    margin-left: 73px;
    width: 600px;
    margin-top: 110px;
    margin-top: 34px;
}
.headerimg {
    float: left;
    height: 120px;
    width: auto;
    background-color: white;
}
.sam_img {
    max-height: 572px; 
    width: auto;
    margin-left: 100px;
    margin-top: 90px;
    float: left;
}
.logo a {
    font-size: 24px;
    font-weight: 600;
    color: #EDB200;
    text-decoration: none;
}
.navbar {
    background-color: #3b6e0a; 
    height: 120px;
    border-radius: 20px;
}
.navdiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
}